<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <!-- Columna de Contenido -->
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">

            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Regístrate</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>¿Ya tiene una cuenta?</div>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">Iniciar Sesion
                </a>
            </div>
            
            <!-- Alert -->
            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>

            <!-- Formulario de Registro -->
            <form class="w-full" [formGroup]="signUpForm" #signUpNgForm="ngForm">
                <!-- Paso 1: Validación de Cédula -->
                <div *ngIf="!cedulaVerified" class="space-y-4">
                    <!-- Campo de Cédula -->
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label class="text-gray-700">Cédula</mat-label>
                        <input matInput formControlName="cedula" required />
                        <mat-error *ngIf="signUpForm.get('cedula').hasError('backend')">
                            {{ backendErrors['cedula'] ? backendErrors['cedula'][0] : 'Cédula no válida.' }}
                        </mat-error>
                    </mat-form-field>
                    <!-- Botón de Verificación -->
                    <button mat-raised-button color="primary" (click)="verifyCedula()" class="w-full max-w-xs">
                        Verificar Cédula
                    </button>
                </div>

                <!-- Paso 2: Registro de Información Adicional -->
                <div *ngIf="cedulaVerified">
                    <!-- Nombre -->
                    <mat-form-field class="w-full">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name" required />
                        <mat-error *ngIf="signUpForm.get('name').hasError('backend')">
                            {{ backendErrors['name'] ? backendErrors['name'][0] : 'Nombre no válido.' }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Apellido -->
                    <mat-form-field class="w-full">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="last_name" required />
                        <mat-error *ngIf="signUpForm.get('last_name').hasError('backend')">
                            {{ backendErrors['last_name'] ? backendErrors['last_name'][0] : 'Apellido no válido.' }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Nombre de Usuario -->
                    <mat-form-field class="w-full">
                        <mat-label>Nombre de Usuario</mat-label>
                        <input matInput formControlName="username" required />
                        <mat-error *ngIf="signUpForm.get('username').hasError('backend')">
                            {{ backendErrors['username'] ? backendErrors['username'][0] : 'Nombre de usuario no válido.'
                            }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Email -->
                    <mat-form-field class="w-full">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput formControlName="email" required />
                        <mat-error *ngIf="signUpForm.get('email').hasError('backend')">
                            {{ backendErrors['email'] ? backendErrors['email'][0] : 'Correo electrónico no válido.' }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Contraseña -->
                    <mat-form-field class="w-full">
                        <mat-label>Contraseña</mat-label>
                        <input id="password" matInput type="password" [formControlName]="'password'" #passwordField />
                        <button mat-icon-button type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                        </button>
                        <mat-error *ngIf="signUpForm.get('password').hasError('backend')">
                            {{ backendErrors['password'] ? backendErrors['password'][0] : 'Contraseña no válida.' }}
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('password').hasError('required')">
                            La contraseña es obligatoria
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('password').hasError('minlength')">
                            La contraseña debe tener al menos 8 dígitos
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('password').hasError('pattern')">
                            La contraseña debe tener caracteres especiales
                        </mat-error>
                    </mat-form-field>

                    <!-- Teléfono -->
                    <mat-form-field class="w-full">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="phone" required />
                        <mat-error *ngIf="signUpForm.get('phone').hasError('backend')">
                            {{ backendErrors['phone'] ? backendErrors['phone'][0] : 'Teléfono no válido.' }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Dirección -->
                    <mat-form-field class="w-full">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="address" required />
                        <mat-error *ngIf="signUpForm.get('address').hasError('backend')">
                            {{ backendErrors['address'] ? backendErrors['address'][0] : 'Dirección no válida.' }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Ciudad -->
                    <mat-form-field class="w-full">
                        <mat-label>Ciudad</mat-label>
                        <input matInput formControlName="city" required />
                        <mat-error *ngIf="signUpForm.get('city').hasError('backend')">
                            {{ backendErrors['city'] ? backendErrors['city'][0] : 'Ciudad no válida.' }}
                        </mat-error>
                    </mat-form-field>

                    <!-- País -->
                    <mat-form-field class="w-full">
                        <mat-label>País</mat-label>
                        <input matInput formControlName="country" required />
                        <mat-error *ngIf="signUpForm.get('country').hasError('backend')">
                            {{ backendErrors['country'] ? backendErrors['country'][0] : 'País no válido.' }}
                        </mat-error>
                    </mat-form-field>

                    <!-- ToS and PP -->
                    <div class="mt-6 flex items-center">
                        <mat-checkbox class="mr-2" [color]="'primary'" [formControlName]="'agreements'">
                            Acepto los <a class="text-primary-500 hover:underline"
                                [routerLink]="['/terms']">Términos</a> y
                            <a class="text-primary-500 hover:underline" [routerLink]="['/privacy']">Políticas de
                                Privacidad</a>
                        </mat-checkbox>
                    </div>

                    <!-- Botón de Registro -->
                    <button class="w-full mt-6" mat-raised-button color="primary" [disabled]="signUpForm.invalid"
                        (click)="signUp()">
                        Crear cuenta
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Columna de Imagen -->
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden"
        style="background-color: #008080;" dark:border-l>
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-teal-500 opacity-25" fill="none" stroke="#20B2AA" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <svg class="absolute -top-16 -right-16 text-teal-500" viewBox="0 0 220 192" width="220" height="192"
            fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="#20B2AA"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>

        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Bienvenido a</div>
                <div>Banco Politécnico</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                Banco Politécnico, su socio confiable para guardar y hacer crecer su dinero.
                Únase a nosotros hoy y descubra la tranquilidad financiera.
            </div>
        </div>
    </div>
</div>