<div class="flex flex-col flex-auto min-w-0">
    <!-- Banner Informativo -->
    <div class="bg-blue-600 text-white p-6 text-center shadow-md">
        <p class="text-xl font-semibold">¡Bienvenido a la Plataforma de Transferencias Bancarias!</p>
        <p class="mt-2 text-sm">Realiza tus transferencias de manera rápida y segura.</p>
    </div>

    <!-- Main Content -->
    <div class="flex flex-1 items-center justify-center bg-gray-100 p-8">
        <div class="w-full max-w-3xl bg-white rounded-2xl shadow-xl p-8 border border-gray-300">
            <div class="text-3xl font-extrabold text-center text-gray-900 mb-6">
                Transferir Dinero
            </div>
            <div class="text-center text-gray-600 mb-8">
                Complete el formulario a continuación para realizar una transferencia entre cuentas.
            </div>

            <!-- Alert -->
            <fuse-alert class="mb-6" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="true" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>


            <!-- Add New Contact -->
            <div class="flex items-center justify-between mb-8">
                <button (click)="openAddContactDialog()"
                    class="flex items-center py-2 px-6 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600 transition duration-300">
                    <mat-icon svgIcon="heroicons_outline:plus-circle" class="mr-2"></mat-icon>
                    Agregar Nuevo Contacto
                </button>
                <p class="text-gray-500 text-sm">¿No encuentras el contacto? Agrega uno aquí.</p>
            </div>

            <!-- Transfer Form -->
            <form [formGroup]="transferForm" (ngSubmit)="submitTransfer()">
                <!-- Sender Account -->
                <mat-form-field class="w-full mb-6">
                    <mat-label class="text-lg font-medium text-gray-800">Cuenta de Origen</mat-label>
                    <mat-select formControlName="senderAccount" placeholder="Seleccionar cuenta">
                        <mat-option *ngFor="let account of bankAccounts" [value]="account.account_number">
                            {{ account.account_number }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="transferForm.get('senderAccount').hasError('required')">
                        La cuenta de origen es obligatoria
                    </mat-error>
                </mat-form-field>                

                <!-- Receiver Account -->
                <mat-form-field class="w-full mb-6" *ngIf="contactList.length > 0">
                    <mat-label class="text-lg font-medium text-gray-800">Cuenta de Destino</mat-label>
                    <mat-select formControlName="receiverAccount" placeholder="Seleccionar cuenta">
                        <mat-option *ngFor="let contact of contactList" [value]="contact.contact_account_number">
                            {{ contact.contact_name }} - {{ contact.contact_account_number }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="transferForm.get('receiverAccount').hasError('required')">
                        La cuenta de destino es obligatoria
                    </mat-error>
                </mat-form-field>

                <!-- Amount -->
                <mat-form-field class="w-full mb-6">
                    <mat-label class="text-lg font-medium text-gray-800">Monto</mat-label>
                    <input matInput type="number" formControlName="amount" placeholder="Monto a transferir">
                    <mat-error *ngIf="transferForm.get('amount').hasError('required')">
                        El monto es obligatorio
                    </mat-error>
                    <mat-error *ngIf="transferForm.get('amount').hasError('min')">
                        El monto debe ser mayor que 0
                    </mat-error>
                </mat-form-field>

                <!-- Submit Button -->
                <div class="text-center">
                    <button
                        class="w-full py-4 px-6 mt-6 text-white bg-blue-700 rounded-lg shadow-md hover:bg-blue-800 transition duration-300"
                        mat-raised-button type="submit" color="primary" [disabled]="transferForm.invalid">
                        Transferir
                    </button>
                </div>
            </form>

        </div>
    </div>

    <!-- OTP Modal -->
    <ng-template #otpModal let-data="data" let-dialogRef="dialogRef">
        <h2 mat-dialog-title class="text-2xl font-semibold text-gray-900 mb-6">Ingrese el Código de Autorización</h2>
        <fuse-alert class="mb-6" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="true" [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{ alert.message }}
        </fuse-alert>
        <mat-dialog-content>
            <mat-form-field class="w-full mb-6">
                <mat-label class="text-lg font-medium text-gray-800">Código de Autorización</mat-label>
                <input matInput [(ngModel)]="otpCode" placeholder="Código de 6 dígitos" type="text">
                <mat-error *ngIf="otpCode === ''">
                    El código de autorización es obligatorio
                </mat-error>
            </mat-form-field>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button (click)="dialogRef.close()">Cancelar</button>
            <button mat-button color="primary" (click)="confirmTransfer()">Confirmar</button>
        </mat-dialog-actions>
    </ng-template>

    <!-- Modal para la Búsqueda de Contactos -->
    <ng-template #addContactModal>
        <h2 mat-dialog-title class="text-xl font-semibold mb-4 text-gray-800">Buscar Contacto</h2>
        <fuse-alert class="mb-6" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="true" [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{ alert.message }}
        </fuse-alert>
        <mat-dialog-content>
            <form [formGroup]="contactForm" (ngSubmit)="searchContact(contactForm)">
                <mat-form-field class="w-full">
                    <mat-label>Número de Cuenta</mat-label>
                    <input matInput formControlName="account_number" placeholder="Ingrese el número de cuenta">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Cédula</mat-label>
                    <input matInput formControlName="cedula" placeholder="Ingrese la cédula">
                </mat-form-field>

                <mat-dialog-actions class="flex space-x-2">
                    <button mat-raised-button type="submit" color="primary"
                        class="flex-1 py-2 px-4 bg-blue-700 text-white rounded-lg shadow-md hover:bg-blue-800 transition duration-300"
                        [disabled]="contactForm.invalid">
                        Buscar
                    </button>
                    <button mat-button (click)="cancelSearch()"
                        class="flex-1 py-2 px-4  text-red-600  transition duration-300">
                        Cancelar
                    </button>
                </mat-dialog-actions>
            </form>
        </mat-dialog-content>
        <div *ngIf="searchResults.length > 0" class="mt-6">
            <h3 class="text-xl font-semibold mb-4 text-gray-800">Resultados de la búsqueda:</h3>
            <div class="space-y-4">
                <div *ngFor="let contact of searchResults"
                    class="bg-white p-4 rounded-lg shadow-sm border border-gray-200">
                    <div class="flex justify-between items-center">
                        <div>
                            <p class="text-lg font-medium text-gray-900">{{ contact.user_details.name }} {{
                                contact.user_details.last_name }}</p>
                            <p class="text-sm text-gray-600">Cuenta: {{ contact.account_number }}</p>
                        </div>
                        <button mat-button (click)="selectContact(contact)"
                            class="ml-4 py-2 px-4 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600 transition duration-300">
                            Añadir usuario
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>



</div>