<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col flex-auto px-6 sm:px-12 py-8 sm:py-16">
        <!-- Header Section -->
        <div class="text-center mb-10">
            <h1 class="text-4xl sm:text-5xl font-extrabold text-teal-800 leading-tight">Resumen de Transacciones</h1>
            <p class="text-lg text-gray-700 mt-4">Visualiza y filtra todas tus transacciones enviadas y recibidas de manera eficiente.</p>
        </div>

        <!-- Filter Form Section -->
        <div class="mb-10 p-8 bg-white rounded-lg shadow-lg border border-gray-200">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Desde</mat-label>
                        <input matInput [matDatepicker]="fromPicker" formControlName="fromDate" placeholder="Selecciona una fecha">
                        <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                        <mat-datepicker #fromPicker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label>Hasta</mat-label>
                        <input matInput [matDatepicker]="toPicker" formControlName="toDate" placeholder="Selecciona una fecha">
                        <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                        <mat-datepicker #toPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <button
                class="bg-teal-600 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-teal-700 transition duration-300" type="submit">
                Aplicar Filtro
            </button>
            </form>
        </div>

        <!-- Transactions Section -->
        <div id="transactionsTable" class="w-full max-w-4xl mx-auto bg-white rounded-xl shadow-lg p-8 border border-gray-300 mb-12">
            <div *ngIf="filteredTransactions.length === 0" class="text-center text-gray-600 text-lg mb-8">
                <p>No hay transacciones disponibles.</p>
            </div>
            <div *ngFor="let transaction of filteredTransactions" class="border-l-4"
                [ngClass]="{
                    'border-red-600': transaction.type === 'sent',
                    'border-green-600': transaction.type === 'received'
                }">
                <div class="bg-gray-50 p-6 rounded-lg mb-6 shadow-md">
                    <div class="flex items-center justify-between mb-4">
                        <p class="text-lg font-semibold flex items-center" [ngClass]="{
                            'text-red-600': transaction.type === 'sent',
                            'text-green-600': transaction.type === 'received'
                        }">
                            <mat-icon [ngClass]="{
                                'text-red-600': transaction.type === 'sent',
                                'text-green-600': transaction.type === 'received'
                            }">{{ transaction.type === 'sent' ? 'arrow_downward' : 'arrow_upward' }}</mat-icon>
                            <span class="ml-2">{{transaction.type === 'sent' ? 'Enviado' : 'Recibido'}}</span>
                        </p>
                        <p class="text-sm text-gray-500">{{transaction.timestamp | date:'short'}}</p>
                    </div>
                    <p class="text-gray-800 mb-2 text-base font-medium">Monto: {{transaction.amount | currency}}</p>
                    <p class="text-gray-800 mb-2">Receptor: {{transaction.receiver}}</p>
                    <p class="text-gray-800 mb-2" *ngIf="transaction.sender">Emisor: {{transaction.sender}}</p>
                    <p class="text-gray-800 mb-2">Número de Cuenta del Receptor: {{transaction.receiver_account_number}}</p>
                </div>
            </div>
        </div>

        <!-- PDF Button -->
        <div class="flex justify-end mb-12">
            <button (click)="generatePDF()"
            class="bg-teal-600 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-teal-700 transition duration-300" type="submit">
            Generar PDF
        </button>
        </div>

        <!-- Bank Publication Section -->
        <div class="w-full max-w-4xl mx-auto bg-blue-50 rounded-xl shadow-lg p-8 border border-blue-200">
            <h2 class="text-3xl font-bold text-blue-800 mb-4">Publicación del Banco Politécnico</h2>
            <p class="text-gray-700 mb-6 text-lg">Nos complace anunciar que hemos lanzado nuevas funcionalidades en nuestra plataforma para ofrecerte una mejor experiencia bancaria. Mantente atento a nuestras actualizaciones y aprovecha los nuevos servicios que hemos implementado para tu comodidad.</p>
            <div class="flex justify-end">
                <a href="#" class="py-3 px-6 bg-blue-600 text-white rounded-lg shadow-lg hover:bg-blue-700 transition duration-300 text-lg">
                    Más Información
                </a>
            </div>
        </div>
    </div>
</div>
