<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-gradient-to-r from-teal-800 to-teal-900 py-10 shadow-lg">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8 relative">
            <!-- Banner -->
            <div class="bg-gradient-to-r from-teal-700 to-teal-800 text-white p-8 rounded-lg shadow-xl flex flex-col sm:flex-row items-center justify-between relative">
                <div class="flex flex-col sm:w-3/4 mb-6 sm:mb-0">
                    <h2 class="text-4xl sm:text-6xl font-bold mb-4 leading-tight">¡Bienvenido a Banco Politécnico!</h2>
                    <p class="text-lg sm:text-2xl leading-relaxed mb-5">Gestiona tus finanzas con confianza y aprovecha nuestros servicios de banca en línea. Tu tranquilidad financiera comienza aquí.</p>
                </div>
                <div class="flex flex-col items-center">
                    <div class="w-32 h-32 sm:w-48 sm:h-48 rounded-full overflow-hidden border-4 border-white shadow-xl">
                        <img class="w-full h-full object-cover" [src]="user.avatar || defaultAvatar" alt="Avatar">
                    </div>
                    <div class="mt-4 text-center">
                        <div class="text-3xl sm:text-5xl font-semibold">{{ user.name }} {{ user.last_name }}</div>
                        <div class="text-lg sm:text-xl text-gray-200">{{ user.email }}</div>
                        <div class="text-sm sm:text-base text-gray-300 mt-2">Fecha de Ingreso: {{ user.joinDate | date:'dd/MM/yyyy HH:mm:ss' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t border-teal-300 pt-10 sm:pt-12">
        <div class="w-full mx-auto px-6 sm:px-8 relative">
            <mat-tab-group class="sm:px-4" mat-stretch-tabs="false" [animationDuration]="'0'">
                <mat-tab label="Inicio">
                    <ng-template matTabContent>
                        <div class="w-full flex flex-col gap-8">
                            <!-- Account Numbers -->
                            <div class="flex flex-col w-full p-8 bg-white shadow-2xl rounded-3xl overflow-hidden border border-teal-300">
                                <div class="text-2xl sm:text-3xl font-semibold tracking-tight leading-6 text-teal-900 mb-8">Tus Números de Cuenta</div>
                                <div class="flex flex-col space-y-6">
                                    <div class="flex items-center mb-2">
                                        <div class="text-lg sm:text-xl font-semibold text-teal-800 mr-2">
                                            Suma Total del Saldo:
                                            <span *ngIf="!showTotalBalance">********</span>
                                            <span *ngIf="showTotalBalance">{{ totalBalance | currency }}</span>
                                        </div>
                                        <button mat-icon-button color="primary" class="text-teal-600 hover:text-teal-800 transition duration-300" (click)="toggleTotalBalanceVisibility()">
                                            <mat-icon>{{ showTotalBalance ? 'visibility_off' : 'visibility' }}</mat-icon>
                                        </button>
                                    </div>
                                    <!-- Card for each account number -->
                                    <div *ngFor="let account of bankAccounts" class="flex flex-col p-6 bg-teal-50 shadow-lg rounded-lg border border-teal-200 transition-transform transform hover:scale-105 hover:shadow-xl relative">
                                        <div class="flex justify-between items-center">
                                            <div class="flex-grow">
                                                <div class="text-lg sm:text-xl font-semibold text-teal-800 mb-2">{{ account.account_number }}</div>
                                                <div class="text-base text-gray-600 mb-2">
                                                    <span *ngIf="!account.showBalance">********</span>
                                                    <span *ngIf="account.showBalance">{{ account.balance | currency }}</span>
                                                </div>
                                            </div>
                                            <div class="flex items-center space-x-2">
                                                <button mat-icon-button color="primary" class="text-teal-600 hover:text-teal-800 transition duration-300" (click)="toggleBalanceVisibility(account)">
                                                    <mat-icon>{{ account.showBalance ? 'visibility_off' : 'visibility' }}</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary" class="text-teal-600 hover:text-teal-800 transition duration-300" (click)="showAccountInfo(account)">
                                                    <mat-icon>info</mat-icon>
                                                </button>
                                                <button mat-icon-button color="primary" class="ml-2 text-teal-600 hover:text-teal-800 transition duration-300" (click)="shareAccountDetails(account)">
                                                    <mat-icon>share</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- Info window below each card -->
                                        <div *ngIf="selectedAccount === account" class="info-window bg-white shadow-lg rounded-lg p-6 border border-teal-300 mt-4">
                                            <h3 class="text-xl font-bold mb-3">Detalles de la Cuenta</h3>
                                            <p><strong>Tipo:</strong> {{ account.type }}</p>
                                            <p><strong>Número de Cuenta:</strong> {{ account.account_number }}</p>
                                            <p><strong>Saldo:</strong> {{ account.balance | currency }}</p>
                                            <p><strong>Saldo Pendiente:</strong> {{ account.pending_balance | currency }}</p>
                                            <button mat-button color="primary" (click)="hideAccountInfo()">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>