<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-teal-900 py-8 shadow-lg">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8 relative">
            <!-- Banner -->
            <div class="bg-teal-800 bg-cover bg-center text-white p-8 rounded-lg shadow-lg flex flex-col sm:flex-row items-center justify-between relative">
                <div class="flex flex-col sm:w-3/4 mb-6 sm:mb-0">
                    <h2 class="text-3xl sm:text-5xl font-bold mb-4 leading-tight">¡Bienvenido a Banco Politécnico!</h2>
                    <p class="text-base sm:text-xl leading-relaxed mb-5">Gestiona tus finanzas con confianza y aprovecha nuestros servicios de banca en línea. Tu tranquilidad financiera comienza aquí.</p>
                </div>
                <div class="flex flex-col items-center">
                    <div class="w-32 h-32 sm:w-40 sm:h-40 rounded-full overflow-hidden border-4 border-white shadow-lg">
                        <img class="w-full h-full object-cover" [src]="user.avatar || defaultAvatar" alt="Avatar">
                    </div>
                    <div class="mt-4 text-center">
                        <div class="text-2xl sm:text-4xl font-semibold">{{ user.name }} {{ user.last_name }}</div>
                        <div class="text-base sm:text-lg text-gray-200">{{ user.email }}</div>
                        <div class="text-sm sm:text-base text-gray-400 mt-2">Fecha de Ingreso: {{ user.joinDate | date:'dd/MM/yyyy HH:mm:ss' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto border-t border-teal-300 pt-8 sm:pt-10">
        <div class="w-full mx-auto px-6 sm:px-8">
            <!-- Tabs -->
            <mat-tab-group class="sm:px-4" mat-stretch-tabs="false" [animationDuration]="'0'">
                <!-- Home -->
                <mat-tab label="Inicio">
                    <ng-template matTabContent>
                        <div class="w-full flex flex-col gap-8">
                            <!-- Account Numbers -->
                            <div class="flex flex-col w-full p-6 sm:p-8 bg-white shadow-2xl rounded-3xl overflow-hidden border border-teal-300">
                                <div class="text-lg sm:text-xl font-medium tracking-tight leading-6 text-teal-900 mb-6">Tus Números de Cuenta</div>
                                <div class="flex flex-col space-y-6">
                                    <!-- Card for each account number -->
                                    <div *ngFor="let account of user.account_numbers" class="flex flex-col sm:flex-row items-center p-4 sm:p-6 bg-teal-50 shadow-md rounded-lg border border-teal-200 transition-transform transform hover:scale-105">
                                        <div class="flex-grow">
                                            <div class="text-base sm:text-lg font-semibold text-teal-800 mb-2">{{ account.number }}</div>
                                            <div class="text-sm text-gray-600 mb-2">{{ account.type }}</div>
                                            <div class="flex flex-col sm:flex-row justify-between">
                                                <div class="text-base sm:text-lg font-medium text-teal-700">{{ account.balance | currency }}</div>
                                                <div class="text-sm text-gray-600 mt-2 sm:mt-0">Saldo por efectivizar: {{ account.pending_balance | currency }}</div>
                                            </div>
                                        </div>
                                        <div class="mt-4 sm:mt-0 flex items-center">
                                            <button mat-icon-button color="primary" class="text-teal-600 hover:text-teal-800 transition duration-300" (click)="viewAccountDetails(account.number)">
                                                <mat-icon>info</mat-icon>
                                            </button>
                                            <button mat-icon-button color="primary" class="ml-2 text-teal-600 hover:text-teal-800 transition duration-300" (click)="shareAccountDetails(account.number)">
                                                <mat-icon>share</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>