<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-120 sm:w-110 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">¿Ha olvidado su contraseña?</div>
            <div class="mt-0.5 font-medium">Llene nuevamente el formulario para restablecer su contraseña</div>

            <!-- Alert -->
            <fuse-alert class="mt-8" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <div class="flex items-center justify-center">

            <!-- Forgot password form -->
            <form class="mt-8 w-full max-w-md" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Correo electrónico</mat-label>
                    <input id="email" matInput [formControlName]="'email'">
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Dirección de correo electrónico obligatoria
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        por favor ingrese una dirección de correo electrónica válida
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button class="fuse-mat-button-large mt-3" mat-flat-button [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled" (click)="sendResetLink()">
                    <span *ngIf="!forgotPasswordForm.disabled">
                        Enviar enlace de restablecimiento
                    </span>
                    <mat-progress-spinner *ngIf="forgotPasswordForm.disabled" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- Form footer -->
                <div class="mt-8 text-md font-medium text-secondary">
                    <span>Regresar a </span>
                    <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">Iniciar Sesion
                    </a>
                </div>

            </form>
            </div>
        </div>
    </div>

    <!-- Columna de Imagen -->
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-teal-800 text-gray-100"
        dark:border-l>
        <!-- Fondo decorativo -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-teal-300 opacity-30" fill="none" stroke="#00B2A9" stroke-width="120">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <svg class="absolute -top-16 -right-16 text-teal-400" viewBox="0 0 220 192" width="220" height="192"
            fill="none">
            <defs>
                <pattern id="pattern" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="#00B2A9"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#pattern)"></rect>
        </svg>

        <div class="z-10 relative w-full max-w-2xl text-center">
            <h1 class="text-6xl font-extrabold leading-tight text-gray-100">
                <span class="block">Bienvenido a</span>
                <span class="block text-teal-300">Banco Politécnico</span>
            </h1>
            <p class="mt-4 text-lg tracking-tight leading-7 text-gray-200">
                Su tranquilidad financiera es nuestra prioridad. Descubra cómo nuestro banco puede ayudarle a alcanzar
                sus metas financieras.
            </p>
            <div class="mt-8 space-y-4 text-left text-gray-200">
                <div class="flex items-center space-x-4">
                    <svg class="w-8 h-8 text-teal-300" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 8v4.5M12 16h.01m4-8v8m-8-8v8m4-8v8m-4-8v8M5 12h4m4 0h4M4 12l8 8m0 0l8-8M4 12l8-8m0 0l8 8">
                        </path>
                    </svg>
                    <span class="text-lg font-semibold">Seguridad Asegurada</span>
                </div>
                <div class="flex items-center space-x-4">
                    <svg class="w-8 h-8 text-teal-300" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M15 17h5l-1.402-1.502C18.647 14.728 17.337 14 16 14h-1v-4h-2v4H7v-4H5v5.5L3.598 17H9v-1h6v1z">
                        </path>
                    </svg>
                    <span class="text-lg font-semibold">Asesoría Personalizada</span>
                </div>
                <div class="flex items-center space-x-4">
                    <svg class="w-8 h-8 text-teal-300" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M20 12H4m0 0a8 8 0 1 1 16 0a8 8 0 0 1-16 0m0 0a8 8 0 0 1 16 0m-16 0h16"></path>
                    </svg>
                    <span class="text-lg font-semibold">Acceso 24/7</span>
                </div>
            </div>
        </div>
    </div>
</div>