<div class="flex flex-col flex-auto min-w-0">
    <!-- Encabezado del Perfil -->
    <div class="flex flex-col items-center justify-center bg-white shadow-lg rounded-xl p-8 mb-8">
        <img class="w-32 h-32 rounded-full border-4 border-teal-200 mb-4" src="{{defaultAvatar}}"
            alt="Avatar del Usuario">
        <h2 class="text-3xl font-bold text-teal-900 mb-2">{{ user.name }} {{ user.last_name }}</h2>
        <h4 class="text-3xl font-bold text-teal-900 mb-2">{{ user.username }}</h4>
        <p class="text-teal-700 text-md mb-1">{{ user.email }}</p>
        <p class="text-teal-500 text-sm mb-4">Fecha de Ingreso: {{ user.joinDate | date:'dd/MM/yyyy HH:mm:ss' }}</p>
        <div class="flex space-x-4">
            <!-- Botón para Editar Perfil -->
            <button (click)="openEditProfileDialog()"
                class="bg-teal-600 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-teal-700 transition duration-300">
                Editar Perfil
            </button>
            <!-- Botón para Configuración -->
            <button (click)="openSettingsDialog()"
                class="bg-gray-400 text-gray-800 px-6 py-3 rounded-lg shadow-lg hover:bg-gray-500 transition duration-300">
                Configuración
            </button>
        </div>
    </div>

    <!-- Detalles de la Cuenta -->
    <div class="bg-white shadow-lg rounded-xl p-6 mb-8">
        <h3 class="text-2xl font-semibold text-teal-900 mb-6">Detalles de la Cuenta Principal*</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="p-4 bg-teal-50 rounded-lg shadow-sm">
                <h4 class="font-medium text-teal-800 mb-2">Número de Cuenta</h4>
                <p class="text-teal-700">{{ bankAccounts[0].account_number }}</p>
            </div>
            <div class="p-4 bg-teal-50 rounded-lg shadow-sm">
                <h4 class="font-medium text-teal-800 mb-2">Tipo de Cuenta</h4>
                <p class="text-teal-700">Ahorros</p>
            </div>
            <div class="p-4 bg-teal-50 rounded-lg shadow-sm">
                <h4 class="font-medium text-teal-800 mb-2">Saldo</h4>
                <p class="text-teal-700">$ {{ bankAccounts[0].balance }}</p>
            </div>
            <div class="p-4 bg-teal-50 rounded-lg shadow-sm">
                <h4 class="font-medium text-teal-800 mb-2">Estado de la Cuenta</h4>
                <p class="text-teal-700">Activa</p>
            </div>
        </div>
    </div>

    <!-- Información Adicional -->
    <div class="bg-white shadow-lg rounded-xl p-6">
        <h3 class="text-2xl font-semibold text-teal-900 mb-6">Información Adicional</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="p-4 bg-teal-50 rounded-lg shadow-sm">
                <h4 class="font-medium text-teal-800 mb-2">Cedúla</h4>
                <p class="text-teal-700">{{ user.cedula }}</p>
            </div>
            <div class="p-4 bg-teal-50 rounded-lg shadow-sm">
                <h4 class="font-medium text-teal-800 mb-2">Dirección de domicilio</h4>
                <p class="text-teal-700">{{ user.address }}</p>
            </div>
            <div class="p-4 bg-teal-50 rounded-lg shadow-sm">
                <h4 class="font-medium text-teal-800 mb-2">Ciudad - Pais</h4>
                <p class="text-teal-700">{{ user.city }}, {{ user.country}}</p>
            </div>
            <div class="p-4 bg-teal-50 rounded-lg shadow-sm">
                <h4 class="font-medium text-teal-800 mb-2">Número Celular</h4>
                <p class="text-teal-700">+593 {{ user.phone }}</p>
            </div>
        </div>
    </div>

<!-- Dialogo de Editar Perfil -->
<ng-template #editProfileDialog>
    <div class="p-6">
        <h2 class="text-2xl font-bold mb-4">Editar Perfil</h2>

        <fuse-alert class="mb-4" *ngIf="showAlert && alert.type === 'error'" [appearance]="'outline'"
            [showIcon]="false" [type]="alert.type">
            {{alert.message}}
        </fuse-alert>
        <p class="text-sm text-gray-600 mb-4">Por favor, ingrese su nuevo nombre de Usuario.</p>

        <form [formGroup]="editProfileForm" (ngSubmit)="onSaveProfile()">
            <div class="mb-4">
                <label class="block text-gray-700">Nombre de Usuario</label>
                <input formControlName="username" class="w-full px-4 py-2 border rounded" type="text">
            </div>
            <div class="flex justify-end">
                <button type="button" class="px-4 py-2 mr-2 bg-gray-400 text-white rounded"
                    (click)="closeEditProfileDialog()">Cancelar</button>
                    <button mat-button type="button" (click)="onSaveProfile()">Guardar</button>
            </div>
        </form>
    </div>
</ng-template>

    <!-- Dialogo de Configuración (Cambiar Contraseña) -->
    <ng-template #changePasswordDialog>
        <div class="p-6">
            <h2 class="text-2xl font-bold mb-4">Cambiar Contraseña</h2>
            <fuse-alert class="mb-4" *ngIf="showAlert && alert.type === 'error'" [appearance]="'outline'"
            [showIcon]="false" [type]="alert.type">
            {{alert.message}}
        </fuse-alert>
        <p class="text-sm text-gray-600 mb-4">Por favor, ingrese su nueva Contraseña.</p>
            <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
                <div class="mb-4">
                    <label class="block text-gray-700">Contraseña Actual</label>
                    <input formControlName="currentPassword" class="w-full px-4 py-2 border rounded" type="password">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700">Nueva Contraseña</label>
                    <input formControlName="newPassword" class="w-full px-4 py-2 border rounded" type="password">
                </div>

                <mat-error *ngIf="signUpForm.get('password').hasError('backend')">
                    {{ backendErrors['password'] ? backendErrors['password'][0] : 'Contraseña no válida.' }}
                </mat-error>
                <mat-error *ngIf="signUpForm.get('password').hasError('required')">
                    La contraseña es obligatoria
                </mat-error>
                <mat-error *ngIf="signUpForm.get('password').hasError('minlength')">
                    La contraseña debe tener al menos 8 dígitos
                </mat-error>
                <mat-error *ngIf="signUpForm.get('password').hasError('pattern')">
                    La contraseña debe tener caracteres especiales
                </mat-error>
                
                <div class="flex justify-end">
                    <button type="button" class="px-4 py-2 mr-2 bg-gray-400 text-white rounded"
                        (click)="closeDialog()">Cancelar</button>
                    <button type="submit" class="px-4 py-2 bg-teal-600 text-white rounded"
                        [disabled]="changePasswordForm.invalid">Cambiar</button>
                </div>

            </form>
        </div>
    </ng-template>
</div>